@model IEnumerable<SecondChance.Models.Utilizador>

@{
    ViewBag.Title = "Utilizadores";
}

<h2>Lista de Utilizadores</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsernameID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Localidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNasc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (!User.IsInRole("Gestores"))
        {
            if (item.UsernameID == User.Identity.Name)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UsernameID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Localidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sexo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataNasc)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.IdUtilizador })
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsernameID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Localidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNasc)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdUtilizador }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IdUtilizador })
                </td>
            </tr>
        }
    }

</table>
