@model SecondChance.Models.Artigo

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>


@using (Html.BeginForm("Edit", "Artigo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Artigo</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IdArtigo)

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IdDono)

    <div class="container" style="width:500px;">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                @{ int i = 0;}
                @foreach (var item in Model.ListaRecMultimedia.Skip(1))
                {
                    <li data-target="#myCarousel" data-slide-to="@i+1"></li>
                }
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                @foreach (var item in Model.ListaRecMultimedia)
                {
                    if (@item.Designacao == Model.ListaRecMultimedia.FirstOrDefault().Designacao)
                    {

                        <div class="item active">
                            <img src="~/Imagens/@item.Designacao" alt="Image" width="500" />
                        </div>
                    }
                    else
                    {
                        <div class="item">
                            <img src="~/Imagens/@item.Designacao" alt="Image" width="500" />
                        </div>
                    }
                }

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <br />
    <hr />
    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Preco, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Preco, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Preco, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdCategoria, "IdCategoria", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("IdCategoria", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdCategoria, "", new { @class = "text-danger" })
        </div>
    </div>

    @if (User.IsInRole("Gestores"))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Validado, "Validado", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Validado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Validado, "", new { @class = "text-danger" })
            </div>
        </div>
    }
    
    <div class="form-group">
        <div class="col-md-10">
            <label>Ficheiros: </label>
            <input type="file" name="ficheiros" multiple="multiple" />
            <ul class="attachment">
                <br />
                @foreach (var item in Model.ListaRecMultimedia)
                {
                    <li>
                        <img src="~/Imagens/@item.Designacao" alt="Image" width="100" />
                        @Html.ActionLink("Eliminar", "../Multimedia/Delete/" + item.IdMultimedia@*, new AjaxOptions { HttpMethod = "POST"}, new { @class = "delete-link" }*@)
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
