@model IEnumerable<SecondChance.Models.Artigo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.Designacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dono.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gestor.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Designacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dono.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gestor.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdArtigo }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdArtigo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdArtigo })
        </td>
    </tr>
}

</table>
