@model IEnumerable<SecondChance.Models.Mensagem>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UtilDestino.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UtilOrigem.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Conteudo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataHora)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UtilDestino.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UtilOrigem.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conteudo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHora)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdMensagem }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdMensagem }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdMensagem })
            </td>
        </tr>
        }

</table>
