@model IEnumerable<SecondChance.Models.Categoria>

@{
    ViewBag.Title = "Categorias";
}

<h2>Categorias</h2>

<p>
    @Html.ActionLink("Criar Nova Categoria", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Designacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Designacao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdCategoria }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IdCategoria }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdCategoria })
        </td>
    </tr>
}

</table>
